# <center>Лабораторная работа #1
## <center>Анализ данных Олимпийский игр с помощью Pandas

### Задача
В этом задании десять вопросов о 120-летней олимпийской истории. Ваша задача — заполнить недостающий код Python и выполнить вычисления в ячейках ниже

Скачайте файл `athlete_events.csv`, ссылка [Здесь](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing). Датасет следующие данные :

- __ID__ - Уникальный номер каждого атлета
- __Name__ - Имя атлета
- __Sex__ - Пол('M'или 'F')
- __Age__ - Возраст (Integer)
- __Height__ - Рост( в сантиметрах)
- __Weight__ - Вес(в килограммах)
- __Team__ - Название команды
- __NOC__ - Трехбуквенный код национального олимпийского комитета
- __Games__ - Год и сезон
- __Year__ - Год (Integer)
- __Season__ - Лето или зима
- __City__ - Принимающий город
- __Sport__ - Название спорта
- __Event__ - Соревнование
- __Medal__ - Вид медали(Золото, серебро, бронза или NA)

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('athlete_events.csv')

__1. Сколько лет было самым юным участникам Олимпийских игр 1992 года среди мужчин и женщин?__

- 16 и 15
- 14 и 13
- 13 и 11
- 11 и 12

In [4]:
data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age'].min(), \
data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age'].min()

(11.0, 12.0)

__2. Какой процент составляют баскетболисты-мужчины среди всех участников-мужчин Олимпиады-2012? Округлите ответ до первого знака после запятой..__

*Подсказка:*  здесь и далее при необходимости отбрасывайте дублирующихся спортсменов, чтобы считать только уникальных.

- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
all_mans = data[(data['Sex'] == 'M') & (data['Year'] == 2012)]
all_mans_count = pd.unique(all_mans['ID']).shape[0]

basketball = data[(data['Sex'] == 'M') & (data['Year'] == 2012) & (data['Sport'] == 'Basketball')]
basketball_count = pd.unique(basketball['ID']).shape[0]

percent = 100.0 * basketball_count / all_mans_count
round(percent, 1)

2.5

__3. Каковы среднее значение и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого знака после запятой.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [6]:
height = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].mean()

std = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].std()

print(f"Height = {round(height, 1)}, Std = {round(std, 1)}")

Height = 171.8, Std = 6.5

__4. Найдите спортсмена, участвовавшего в Олимпиаде 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким видом спорта он или она занимались?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [22]:
max_weight = data[(data['Year'] == 2006)]['Weight'].max()
sportsman = data[(data['Year'] == 2006) & (data['Weight'] == max_weight)]
sportsman['Sport']

8102    Skeleton
Name: Sport, dtype: object

__5. Сколько раз John Aalberg участвовал в Олимпиадах, проводившихся в разные годы?__

- 0
- 1 
- 2 
- 3

In [27]:
data[data['Name'] == 'John Aalberg']['Year'].unique().size

2

__6. Сколько золотых медалей в теннисе завоевали спортсмены сборной Швейцарии(Switzerland) на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [32]:
data[(data['Sport'] == 'Tennis') & (data['Year'] == 2008) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Gold')].shape[0]

2

__7. Правда ли, что на Олимпиаде-2016 Испания(_Spain_) завоевала меньше медалей, чем Италия(_Italy_)? Не учитывайте значения _NaN_ в столбце _Medal_ column.__

- Да
- Нет

In [48]:
spain_medals = data[(data['Year'] == 2016) & (data['Team'] == 'Spain') & (pd.Series.notna(data['Medal']))].shape[0]

italy_medals = data[(data['Year'] == 2016) & (data['Team'] == 'Italy') & (pd.Series.notna(data['Medal']))].shape[0]

print(f'Spain = {spain_medals}, Italy = {italy_medals}')

if spain_medals < italy_medals:
    print('Да')
else:
    print('Нет')

# data[(data['Year'] == 2016) & (data['Team'] == 'Italy') & (pd.Series.notna(data['Medal']))]

Spain = 43, Italy = 70
Да

__8. К какой возрастной категории относилось меньше всего и больше всего участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [61]:
range_45_55 = data[(data['Year'] == 2008) & (data['Age'] >= 45) & (data['Age'] <= 55)]['ID'].unique().shape[0]
range_25_35 = data[(data['Year'] == 2008) & (data['Age'] >= 25) & (data['Age'] < 35)]['ID'].unique().shape[0]
range_15_25 = data[(data['Year'] == 2008) & (data['Age'] >= 15) & (data['Age'] < 25)]['ID'].unique().shape[0]
range_35_45 = data[(data['Year'] == 2008) & (data['Age'] >= 35) & (data['Age'] < 45)]['ID'].unique().shape[0]

print(f"[45-55] = {range_45_55}, [25-35) = {range_25_35}, [15-25) = {range_15_25}, [35-45) = {range_35_45}")

[45-55] = 78, [25-35) = 5382, [15-25) = 4786, [35-45) = 630

__9. Правда ли, что в Атланте(Atlanta) проводились летние Олимпийские игры? Правда ли, что в Скво-Вэлли(Squaw Valley) проходили зимние Олимпийские игры?__

- Да, Да
- Да, Нет
- Нет, Да
- Нет, Нет

In [68]:
if len(data[(data['City'] == 'Atlanta') & (data['Season'] == 'Summer')]) != 0:
    print("В Атланте проводились летние Олимпийские игры!")
else:
    print("В Атланте не проводились летние Олимпийские игры!")

if len(data[(data['City'] == 'Squaw Valley') & (data['Season'] == 'Winter')]) != 0:
    print("В Скво-Вэлли проводились зимние Олимпийские игры!")
else:
    print("В Скво-Вэлли не проводились зимние Олимпийские игры!")

В Атланте проводились летние Олимпийские игры!
В Скво-Вэлли проводились зимние Олимпийские игры!

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпийских играх 1986 года и Олимпийских играх 2002 года?__

- 3 
- 10
- 15
- 27

In [75]:
count_1986 = len(data[data['Year'] == 1986]['Sport'].unique())
count_2002 = len(data[data['Year'] == 2002]['Sport'].unique())

print(f"1986 = {count_1986}, 2002 = {count_2002}, Абсолютная разница = {count_2002 - count_1986}")

1986 = 0, 2002 = 15, Абсолютная разница = 15